* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-body: #121212;
    --bg-blockquote: #252525;
    --bg-details-header: #1f1f1f;
    --bg-details-body: #252525;
    --txt-primary: #ffffff;
    --txt-secondary: #cccccc;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background: var(--bg-body);
    color: var(--txt-primary);
    max-width: 80%;
    margin: auto;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
    padding: 16px 10%;
    background: var(--bg-body);

    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
    }

    ul li {
        position: relative;
    }

    ul ul {
        display: none;
        background: var(--bg-body);
        text-align: right;
        position: absolute;
        right: 0;
        padding: 20px;
    }

    ul ul li {
        padding: 5px 0;
    }

    ul li:hover>ul,
    ul li:active>ul {
        display: block;
    }
}

header,
section {
    padding-top: 60px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 200px 20px;

    @media only screen and (max-width: 600px) {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
}