button {
    font-size: 0.9rem;
    margin: 2px 4px;
    padding: 10px 20px;
    background: #f4f4f4;
    color: #252525;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    outline: none;

    &:hover {
        background: #dedede;
        color: #1e1e1e;
    }

    &:active {
        background: #c0c0c0;
        transform: translateY(2px);
    }

    &:disabled {
        background: #adadad;
        color: #5f5f5f;
        cursor: not-allowed;
        transform: none;
    }
}