kbd {
  font-family: inherit;
  font-size: 0.825rem;
  padding: 2px 8px;
  margin-inline: 2px;
  border: 1px solid white;
  border-radius: 6px;
}

code {
  display: block;
  background-color: var(--bg-code-samp);
  font-size: 0.9rem;
  padding: 15px 10px;
  margin-block: 10px;
  border-radius: 6px;
  overflow-x: auto;
}

samp {
  background-color: var(--bg-code-samp);
  font-size: 0.9rem;
  padding: 5px 10px;
  border-radius: 6px;
}

pre {
  white-space: normal;
  font-size: 0.9rem;
}