kbd {
  font-family: inherit;
  font-size: 0.825rem;
  padding: 2px 8px;
  margin-inline: 2px;
  border: 1px solid white;
  border-radius: 6px;
}

code,
samp {
  background-color: var(--bg-code-samp);
  padding: 4px 10px;
  border-radius: 6px;
}

pre {
  white-space: normal;
}