h1,
h2,
h3,
h4,
h5,
h6 {
    padding-block: 10px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.875rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1.125rem;
}

hr {
    margin-block: 6px 12px;
}

p {
    font-size: 1rem;
    padding-block: 5px;
}

a {
    color: var(--txt-secondary);
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;

    &:hover {
        color: var(--txt-primary);
        text-decoration: underline;
    }
}

blockquote {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-blockquote);
    border-left: 3px solid white;
    border-radius: 0px 6px 6px 0px;
    padding: 10px 20px;
    margin-block: 10px;

    cite {
        color: var(--txt-secondary);
        font-weight: bold;
    }
}

ol,
ul {
    line-height: 1.8;
    list-style-position: inside;
    padding-left: 1rem;
    margin-bottom: 10px;
}

details {
    background: var(--bg-details-body);
    border-radius: 6px;
    margin-bottom: 10px;

    summary {
        cursor: pointer;
        background: var(--bg-details-header);
        border-radius: 6px;
        padding: 10px 20px;
    }

    p {
        padding: 10px 20px;
    }
}