h1,
h2,
h3,
h4,
h5,
h6 {
    padding-block: 10px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.875rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1.125rem;
}

p {
    font-size: 1rem;
    padding-block: 5px;
}

a {
    color: var(--txt-secondary);
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;

    &:hover {
        color: var(--txt-primary);
        text-decoration: underline;
    }
}

blockquote {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-blockquote);
    border-left: 3px solid white;
    padding: 10px 20px;
    margin-block: 10px;

    cite {
        color: var(--txt-secondary);
        font-weight: bold;
    }
}

hr {
    margin-block: 6px 12px;
}