h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.875rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1.125rem;
}

p {
    font-size: 1rem;
}

a {
    color: var(--txt-secondary);

    &:hover {
        color: var(--txt-primary);
    }
}

blockquote {
    background: var(--bg-blockquote);
    border-left: 3px solid white;
    padding: 10px 20px;

    cite {
        color: var(--txt-secondary);
        font-weight: bold;
    }
}

hr {
    margin-block: 6px 12px;
}